ion-label
{
    font-family: 'roboto-regular' !important;
}
ion-label.text-capitalize.overflow-visible
{
    overflow: visible;
    white-space: normal;
    line-height: 20px;
    font-family: 'roboto-regular';
}
ion-note img
{
    border-radius: 5px;
}